*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    margin: auto;
}



/* -------------TOP BODY---------------- */

#container>.top-body{
    width: 70%;
    display: flex;
    height: auto;
    margin: auto;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

#container>.top-body>.top-body-left{
    width: 66%;
    height: 450px;
}

#container>.top-body>.top-body-left>a>img{
    width: 100%;
    height: 450px;
}

#container>.top-body>.top-body-right{
  width: 30%;
  text-align: center;
  /* border: 1px solid blue; */
}

#container>.top-body>.top-body-right>a>img{
    width: 100%;
}

#container>.top-body>.top-body-right>a{
    text-decoration: none;
    color: black;
}

#container>.top-body>.top-body-right>a>h2{
    margin-top: 20px;
}

#container>.top-body>.top-body-right>a>p{
    margin-top: 10px;
    width: 95%;
    color: rgb(150, 144, 144);
}


/* -------------MID BODY--------------- */

#container>.mid-body{
    width: 100%;
    height: auto;
}

#container>.mid-body>.mid-body-content{
    width: 45%;
    height: auto;
    margin: auto; 
    text-align: center;
    /* border: 1px solid blue; */
    margin-top: 60px;
}

#container>.mid-body>.mid-body-content>a>img{
    width: 100%;
}

#container>.mid-body>.mid-body-content>a{
    text-decoration: none;
    color: black;
}


#container>.mid-body>.mid-body-content>a>h2{
    margin-top: 25px;
}

#container>.mid-body>.mid-body-content>a>p{
    margin-top: 10px;
    color: rgb(150, 144, 144);
}


/* -------------------MID BODY DOWN------------------- */

#container>.mid-body-down{
    width: 100%;
    height: auto;
}

#container>.mid-body-down>.down-content{
    width: 70%;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    /* border: 1px solid green; */
}

#container>.mid-body-down>.down-content>.down-left{
    width: 40%;
    height: auto;
    text-align: center;
    /* border: 1px solid blue; */
}


#container>.mid-body-down>.down-content>.down-left>div>a>img{
    width: 100%;
}

#container>.mid-body-down>.down-content>.down-left>div:nth-child(2){
    margin-top: 70px;
}

#container>.mid-body-down>.down-content>.down-left>div>a{
    text-decoration: none;
    color: black;
}

#container>.mid-body-down>.down-content>.down-left>div>a>h2{
    margin-top: 20px;
}

#container>.mid-body-down>.down-content>.down-left>div>a>p{
    margin-top: 10px;
    color: #464646;
}

#container>.mid-body-down>.down-content>.down-right{
    width: 48%;
    height: auto;
    margin-top: 140px;
    text-align: center;
    /* border: 1px solid blue; */
}

#container>.mid-body-down>.down-content>.down-right>a>img{
    width: 100%;
    height: 580px;
}

#container>.mid-body-down>.down-content>.down-right>a{
    text-decoration: none;
    color: black;
}

#container>.mid-body-down>.down-content>.down-right>a>h2{
    margin-top: 20px;
}

#container>.mid-body-down>.down-content>.down-right>a>p{
    margin-top: 12px;
    color: #464646;
}

/* ---------------TOP PICKS------------- */

#container>.top-picks{
    width: 100%;
    height: auto;
}

#container>.top-picks>.top-picks-content{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 45px;
    text-align: center;
    /* border: 1px solid blue; */
}

#container>.top-picks>.top-picks-content>.pick-cards{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: auto;
}


#container>.top-picks>.top-picks-content>.pick-cards>div{
    width: 15%;
    height: auto;
    /* border: 1px solid blue; */
}

#container>.top-picks>.top-picks-content>.pick-cards>div>img{
    width: 100%;
}

#container>.top-picks>.top-picks-content>.pick-cards>div>h4{
    font-size: 14px;
}

#container>.top-picks>.top-picks-content>.pick-cards>div>p{
    margin-top: 10px;
    font-size: 14px;
}

#container>.top-picks>.top-picks-content>.pick-cards>div>h5{
    margin-top: 10px;
    font-size: 15px;
}



/* -----------HOME DECOR--------- */

#container>.home-decor{
    width: 100%;
    height: auto;
}

#container>.home-decor>.home-decor-card{
    width: 70%;
    margin: auto;
    margin-top: 45px;
    height: 250px;
    position: relative;
    /* border: 1px solid red; */
}

#container>.home-decor>.home-decor-card>a>img{
    width: 100%;
    height: 250px;
}

#container>.home-decor>.home-decor-card>a{
    text-decoration: none;
}

#container>.home-decor>.home-decor-card>a>.decor-text{
    position: absolute;
    top: 30%;
    color: white;
    width: 100%;
    text-align: center;
}

#container>.home-decor>.home-decor-card>a>.decor-text>h2{
    font-size: 25px;
}

#container>.home-decor>.home-decor-card>a>.decor-text>p{
    margin-top: 10px;
    font-size: 18px;
}

#container>.home-decor>.home-decor-card>a>.decor-text>p:nth-child(3){
    text-decoration: underline;
    margin-top: 20px;
}



/* --------FOOTER-------- */


#container>.body-9{
    width: 100%;
    height: auto;
    height: auto;
    background-color: #F3F3F3;
}

#container>.body-9>.footer{
    background-color: #F3F3F3;
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    height: 420px;
    justify-content: space-between;
}

#container>.body-9>.footer>div{
    background-color: #F3F3F3;
    text-align: center;
    width: 19%;
    /* border: 2px solid red; */
}

#container>.body-9>.footer>div:nth-child(3){
    background-color: white;
}

#container>.body-9>.footer>div:nth-child(3){
    width: 30%;
}

#container>.body-9>.footer>div>h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

#container>.body-9>.footer>div>a{
    text-decoration: none;
    cursor: pointer;
    line-height: 35px;
    margin-top: 20px;
    color: rgb(66, 66, 66);
}

#container>.body-9>.footer>div:nth-child(3){
    width: 30%;
}



#container>.body-9>.footer>div:nth-child(3)>p{
    color: rgb(66, 66, 66);;
    margin-bottom: 50px;
}

#container>.body-9>.footer>div:nth-child(3)>h2{
    margin-bottom: 15px;
}

#container>.body-9>.footer>div:nth-child(3)>.email-id{
    margin-top: -50px;
    height: 35px;
    width: 230px;
    border-radius: 5px;
    border: 1px solid rgb(69, 68, 68);

}
     
#container>.body-9>.footer>div:nth-child(3)>.radio-btn{
    margin-top: 25px;
}

#container>.body-9>.footer>div:nth-child(3)>div{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /* border: 1px solid red; */
}

#container>.body-9>.footer>div:nth-child(3)>div>a{
    text-decoration: none;
    color: black;
}

#container>.body-9>.footer>div:nth-child(3)>.policy-link{
    text-decoration: underline;
}

#container>.body-9>.footer>div:nth-child(3)>button{
    height: 50px;
    width: 230px;
    margin-top: 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#container>.body-9>.footer>div:nth-child(3)>button:hover{
    color: rgb(184, 182, 182);
}


/*------------------ MEDIA ICON--------------- */

#container>.body-10{
    height: auto;
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 2px;
    /* border: 1px solid green; */
}

#container>.body-10>.media-icon{
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
}


#container>.body-10>.media-icon>div{
    display: flex;
    justify-content: space-between;
  
}

#container>.body-10>.media-icon>div>div{
   margin-right: 20px;
   margin-top: 25px;
   font-size: 18px;
   color: #333;
}

#container>.body-10>.media-icon>div>div>i{
    margin-right: 16px;
 }


 /* #container>.body-10>.media-icon>div:nth-child(2)>div:hover{
    color: rgb(184, 182, 182);
} */


/* -----------LAST FOOTER PART--------------  */

#container>.body-11{
    height: auto;
    width: 100%;
    background-color: #333;;
}

#container>.body-11>.last-footer{
    width: 70%;
    height: 110px;
    padding-top: 55px;
    text-align: center;
    margin: auto;
}

#container>.body-11>.last-footer>a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

#container>.body-11>.last-footer>h3{
    text-decoration: none;
    font-size: 12px;
    color: white;
}















































































































































