*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    height: auto;
}

#container>.nav{
    width: 100%;
    height: 125px;
    /* border: 1px solid red; */
}


/* ------------------ Nav top -------------------- */



#container>.nav>.nav-top{
    width: 100%;
    height: 35px;
    /* border: 1px solid blue; */
    display: flex;
}

#container>.nav>.nav-top>.nav-top-left{
    /* border: 1px solid green; */
    width: 35%;
    height: 30px;
    margin-top: 1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* display: flex; */
}

#container>.nav>.nav-top>.nav-top-left>div{
    display: flex;
    /* width: 50%; */
    /* border: 1px solid blue; */
}



#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(2)>ul{
    list-style: none;
    font-size: 13px;
    margin-top: 7px;
    /* margin-left: 10px; */
    width: 120px;
    /* border: 1px solid red; */
}

#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(2):hover{
    background-color: rgb(184, 184, 184);
    height: 30px;
    /* text-decoration: none; */
}

#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(2)>ul>li:hover{
    text-decoration: none;
}

#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(2)>ul>li>a{
    color: black;
    font-weight: 600;
}

#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(1){
    margin-left: 18rem;
    margin-top: 5px;
}

#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(1)>select{
    width: 120px;
    border: none;
    margin-left: -80px;
    text-decoration: underline;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

#container>.nav>.nav-top>.nav-top-left>div>div:nth-child(1)>select:hover{
    background-color: rgb(184, 184, 184);
    height: 27px;
    text-decoration: none;
}

.container>.nav>.nav-top>.nav-top-left>div>div>:nth-child(2){
    margin-right: 18rem;
    margin-top: 1px;
}



/* -------NAV TOP MID------ */

#container>.nav>.nav-top>.nav-top-mid{
    position: relative;
    display: block;
    width: 30%;
    height: 30px;
    margin-top: 1px;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    /* border: 1px solid red; */
}

#container>.nav>.nav-top>.nav-top-mid>.nav-text{
    margin: 1px auto;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
}

#container>.nav>.nav-top>.nav-top-right{
    /* border: 1px solid green; */
    width: 35%;
    height: 30px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    margin-top: 1px;
}

#container>.nav>.nav-top>.nav-top-right>div{
    margin-left: 55px;
}

#container>.nav>.nav-top>.nav-top-right>div>ul{
    list-style: none;
    margin-top: 5px;
    font-size: 14px;
}

#container>.nav>.nav-top>.nav-top-right>div>ul>li>a{
    color: black;
    text-decoration: none;
}


/* ------------------ Nav Bottom -------------------- */

#container>.nav>.nav-bottom{
    display: flex;
    width: 100%;
    height: 85px;
    /* border: 1px solid blue; */
    margin: auto;
}



/* ------NAV BOTTOM LEFT -------*/

#container>.nav>.nav-bottom>.nav-bottom-left{
    width: 34%;
    height: 20px;
    margin-left: 15px;
    /* border: 1px solid red; */
    margin-top: 30px;
}
#container>.nav>.nav-bottom>.nav-bottom-left>a{
    margin-left: 25px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    /* border: 1px solid blue; */
}


/* ------NAV BOTTTOM MID------ */

#container>.nav>.nav-bottom>.nav-bottom-mid{
    width: 28%;
    height: 85px;
    /* border: 1px solid green; */
}

#container>.nav>.nav-bottom>.nav-bottom-mid>a>img{
    width: 27%;
    margin-left: 150px;
    height: 80px;

}


#container>.nav>.nav-bottom>.nav-bottom-right{
    width: 36%;
    height: 85px;
    /* border: 1px solid green; */
}

#container>.nav>.nav-bottom>.nav-bottom-right>a>i{
    padding-left: 49px;
    padding-top: 35px;
    font-size: 24px;
}

#container>.nav>.nav-bottom>.nav-bottom-right>a>i{
    color: #333;
    font-size: 23px;
}


/* ------------------------------------------------------------------------------- */
/* ----------------NAV BLACK------------- */

#container>.nav-black{
    width: 100%;
    height: 35px;
    /* border: 1px solid red; */
    display: flex;
    background-color: #333;
}

#container>.nav-black>div{
    width: 75%;
    display: flex;
    margin: auto;
}

#container>.nav-black>div>a{
    font-size: 12px;
    /* width: 50%; */
    font-weight: 500;
    color: white;
    /* border: 1px solid white; */
    text-decoration: none;
    padding: 0px 10px;
}

#container>.nav-black>div>a:hover{
    color: rgb(148, 146, 146);
}


/* Body */

#container>.body-1{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    /* border: 1px solid green; */
    height: auto;
}


#container>.body-1>.up-part{
    display: grid;
    gap: 20px;
    width: 70%;
    margin: auto;
    height: 400px;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid red; */
}

#container>.body-1>.up-part>div{
    width: 100%;
    text-align: center;
    background-color: white;
    /* border: 2px solid blue; */
}

#container>.body-1>.up-part>div>h2{
  margin-top: 150px;
  margin-bottom: 10px;
}

.hii>p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.hii>a{
    color: #333;
}

.hii>i{
    font-size: 50px;
    margin-top: 80px;
}



/* Body mid */


#container>.body-3{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    /* border: 1px solid green; */
    height: auto;
}


#container>.body-3>.body-mid{
    width: 70%;
    margin: auto;
    text-align: center;
    height: 400px;
    /* border: 1px solid red; */
}

#container>.body-3>.body-mid>h1{
    width: 100%;
    font-size:40px;
    background-color: white;
    margin-top: 50px;
}
#container>.body-3>.body-mid>h1:nth-child(2){
    width: 100%;
    font-size:70px;
    background-color: white;
    margin-top: 50px;
}

#container>.body-3>.body-mid>h3{
    width: 100%;
    font-size: 25px;
    background-color: white;
    margin-top: 50px;
}



/* Body-lower */



#container>.body-4{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    /* border: 1px solid green; */
    height: auto;
}


#container>.body-4>.body-lower{
    display: grid;
    gap: 20px;
    width: 70%;
    margin: auto;
    height: auto;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
}

#container>.body-4>.body-lower>div{
    width: 100%;
    text-align: center;
    background-color: white;
    /* border: 2px solid blue; */
}

#container>.body-4>.body-lower>div>img{
    width: 100%;
    
}

#container>.body-4>.body-lower>div>h3{
    
    margin-top: 5px;
    
}
#container>.body-4>.body-lower>div>i{
    
    margin-top: 70px;
}



/* --------FOOTER-------- */


#container>.body-9{
    width: 100%;
    height: auto;
    height: auto;
    background-color: #F3F3F3;
}

#container>.body-9>.footer{
    background-color: #F3F3F3;
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    height: 420px;
    justify-content: space-between;
}

#container>.body-9>.footer>div{
    background-color: #F3F3F3;
    text-align: center;
    width: 19%;
    /* border: 2px solid red; */
}

#container>.body-9>.footer>div:nth-child(3){
    background-color: white;
}

#container>.body-9>.footer>div:nth-child(3){
    width: 30%;
}

#container>.body-9>.footer>div>h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

#container>.body-9>.footer>div>a{
    text-decoration: none;
    cursor: pointer;
    line-height: 35px;
    margin-top: 20px;
    color: rgb(66, 66, 66);
}

#container>.body-9>.footer>div:nth-child(3){
    width: 30%;
}



#container>.body-9>.footer>div:nth-child(3)>p{
    color: rgb(66, 66, 66);;
    margin-bottom: 50px;
}

#container>.body-9>.footer>div:nth-child(3)>h2{
    margin-bottom: 15px;
}

#container>.body-9>.footer>div:nth-child(3)>.email-id{
    margin-top: -50px;
    height: 35px;
    width: 230px;
    border-radius: 5px;
    border: 1px solid rgb(69, 68, 68);

}
     
#container>.body-9>.footer>div:nth-child(3)>.radio-btn{
    margin-top: 25px;
}

#container>.body-9>.footer>div:nth-child(3)>div{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /* border: 1px solid red; */
}

#container>.body-9>.footer>div:nth-child(3)>div>a{
    text-decoration: none;
    color: black;
}

#container>.body-9>.footer>div:nth-child(3)>.policy-link{
    text-decoration: underline;
}

#container>.body-9>.footer>div:nth-child(3)>button{
    height: 50px;
    width: 230px;
    margin-top: 15px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#container>.body-9>.footer>div:nth-child(3)>button:hover{
    color: rgb(184, 182, 182);
}


/*------------------ MEDIA ICON--------------- */

#container>.body-10{
    height: auto;
    width: 100%;
    background-color: #F3F3F3;
    margin-top: 2px;
    /* border: 1px solid green; */
}

#container>.body-10>.media-icon{
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
}


#container>.body-10>.media-icon>div{
    display: flex;
    justify-content: space-between;
  
}

#container>.body-10>.media-icon>div>div{
   margin-right: 20px;
   margin-top: 25px;
   font-size: 18px;
   color: #333;
}

#container>.body-10>.media-icon>div>div>i{
    margin-right: 16px;
 }


 /* #container>.body-10>.media-icon>div:nth-child(2)>div:hover{
    color: rgb(184, 182, 182);
} */


/* -----------LAST FOOTER PART--------------  */

#container>.body-11{
    height: auto;
    width: 100%;
    background-color: #333;;
}

#container>.body-11>.last-footer{
    width: 70%;
    height: 110px;
    padding-top: 55px;
    text-align: center;
    margin: auto;
}

#container>.body-11>.last-footer>a{
    text-decoration: none;
    font-size: 12px;
    color: white;
}

#container>.body-11>.last-footer>h3{
    text-decoration: none;
    font-size: 12px;
    color: white;
}
